// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_img img{
  min-height: 400px;
  min-width: 900px;
  width: 100%;
  margin:auto;
  position: relative;
  // border-radius:25px;
}

.header_img{
  overflow: hidden;
  height: 400px;
}

.main-content {
  position: relative;
}

.notice {
  position: absolute;
}

.alert{
  position: absolute;
}

.project_of_day{
  position: absolute;
  top: 132px;
  right: 6px;
  background-color: #2BDE73;
  padding: 8px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  font-size: 20px;
}

.list-items {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 32%;
  height: 300px;
  display: inline-block;
  padding: 0px;
}

.header2{
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
  padding-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid gray;
  font-family: 'Open Sans', sans-serif;
}

.list-image {
  margin: 0;
  width: 100%;
  height: auto;
  position: absolute;
}

.list-description{
  display: block;
}

.list-projects{
  text-align: justify;
}

.list-image img{
  height: 305px;
}
