// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.backed-projects {
  background-color: #F4FEF4;
}

.session-title{
  text-align: center;
  margin: 10px;
}

.actions{
  text-align: center;
}

.project-container {
  display: inline-block;
  width: 45%;
}

.no-backed-projects {
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.user-information {
  font-size: 12px;
}

.field{
  text-align: center;
  padding: 10px;
}

.time-left{
  font-weight: bold;
  padding-top: 10px;
}

.links{
  text-align: center;
  padding-top: 30px;
  line-height: 25px;
}
