// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.backed-projects {
  background-color: #F4FEF4;
}

.no-backed-projects {
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.user-information {
  font-size: 12px;
}
