
<container class = "body_container">
  <div class = "featured">
    <div class = "header_img"><%= image_tag Project.last.image %></div>
    <div class="project_of_day">Project of the Day</div>
  </div>

  <div class = "header2">Projects We Love</div>

  <div class = "list-projects">
    <% @projects.each do |p| %>
      <ul class = "list-items">
        <% if p == @projects.last %>
        <% else %>
          <li class = "list-image"><%= image_tag p.image %></li>
          <div class = "list-description">
            <li class = "title"><%= p.title %></li>
            <li class = "description"><%= p.description %></li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</container>
